<!doctype html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#ffffff">
  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <title> Renaissance </title>

  <!-- CSS Plugins -->
  <link rel="stylesheet" href="assets/plugins/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="assets/plugins/lightbox/css/lightbox.min.css">
  <link rel="stylesheet" href="assets/plugins/flickity/flickity.min.css">

  <!-- CSS Global -->
  <!-- build:css assets/css/theme.min.css -->
  <link rel="stylesheet" href="assets/css/theme.css">
  <!-- endbuild -->

  </head>
  <body>

  <!-- NAVBAR
  ================================================== -->
  <nav class="navbar navbar-light navbar-expand-lg fixed-top">
    <div class="container">

      <!-- Navbar: Brand -->
      <a class="navbar-brand d-lg-none" href="index.html">Renaissance</a>

      <!-- Navbar: Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar: Collapse -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Navbar navigation: Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="about-us.html">À propos de nous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="reservation.html">Reservation</a>
          </li>
        </ul>

        <!-- Navbar: Brand -->
        <a class="navbar-brand d-none d-lg-flex" href="index.html">
          <img src="/assets/favicon-all/crown-w.png" class="img-fluid" alt="...">
        </a>

        <!-- Navbar navigation: Right -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="news-and-events.html">Espace professionnel</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="gallery.html">Espace joueur</a>
          </li>
        </ul>

      </div> <!-- / .navbar-collapse -->
    </div> <!-- / .container -->
  </nav> <!-- / .navbar -->

  <!-- WELCOME
  ================================================== -->
  <section class="section section_welcome" data-parallax="scroll" data-image-src="assets/img/1.jpg">

    <!-- Content -->
    <div class="section_welcome__main">
      <div class="container">
        <div class="row align-items-center">
          <div class="col">

            <!-- Heading -->
            <h1 class="section__heading section_welcome__heading text-center">
              Renaissance
            </h1>
            <p class="section__subheading section_welcome__subheading text-center text-muted">
              Chez Renaissance nous avons sélectionné pour vous des lieux authentiques avec des activités uniques. Toute l’année nous vous proposons un panel d’activités éphémères ou en continu !
              Notre objectif est d’ouvrir le patrimoine Français au plus grand nombre ainsi que de permettre le maintien en état de ces endroits qui font la richesse de notre patrimoine.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div>

    <!-- Footer -->
    <div class="section_welcome__footer">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md">

            <!-- Social links -->
            <ul class="section_welcome__footer__social text-center text-lg-left">
              <li>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md">

            <!-- Address -->
            <div class="section_welcome__footer__address text-center text-lg-right">
              <i class="fas fa-map-marker-alt"></i> 2 Rue de Blois, 36600 Valençay, France
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </div>

  </section>

  <!-- DISCOVER
  ================================================== -->
  <section class="section section_discover section_no-padding_bottom">
    <div class="container">
        <h1> Nos activités </h1>
      <div class="row">
        <div class="col-md-2 align-self-start">

          <!-- Description -->
          <p class="section_discover__description">
            <h4> Escape Vaugien </h4>
            1 allee du Domaine de Vaugien, 78470 Saint-Remy-les-Chevreuse, France
          </p>

        </div>
        <div class="col-md-4 align-self-start">

          <!-- Image -->
          <div class="section_discover__img">
            <img src="/assets/img/2.png" class="img-fluid" alt="...">
          </div>

        </div>
        <div class="col-md-6 align-self-center">

          <!-- Content -->
          <h2> <em> L'escape game du Domain de Vaugien </em></h2>
          <p>
            Enfermé dans une pièce secrète du château de Vaugien, partez à la chasse aux indices et résolvez les différentes énigmes pour vous échapper à temps de la chambre des mystères.
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>

  <!-- DISCOVER
  ================================================== -->
  <section class="section section_discover">
    <div class="container">
      <div class="row">
        <div class="col-md-2 order-md-2 align-self-end">

          <!-- Description -->
          <p class="section_discover__description">
            <h4> Chasse au trésor  </h4>
            1 allee du Domaine de Vaugien, 78470 Saint-Remy-les-Chevreuse, France
          </p>

        </div>
        <div class="col-md-4 order-md-3 align-self-start">

          <!-- Image -->
          <div class="section_discover__img alt">
            <img src="assets/img/7.png" class="img-fluid" alt="...">
          </div>

        </div>
        <div class="col-md-6 order-md-1 align-self-center">

          <!-- Content -->
          <h2><em> Chasse au trésor dans le Château de Chazeron </em></h2>
          <p>
            Le jeu se déroule dans l'enceinte du château, six énigmes sont à résoudre sur une durée d'une heure trente maximum.
            Une seule épreuve est entièrement extérieure, toutes les autres peuvent se faire à couvert.
            Cinq équipes costumées de dix personnes s'affrontent sous l'arbitrage d'un maître du jeu.
          </p>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>


<!-- RESERVATION
  ================================================== -->
  <section class="section section_reservation section_gray" id="section_reservation">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
          Contactez-nous
          </h2>

          <!-- Subheading -->
          <p class="section__subheading text-center">
            Vous pouvez nous contacter en utilisant le formulaire ci-dessous.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row justify-content-lg-center  section_reservation__row">
        <div class="col-lg-8">

          <!-- Form -->
          <form class="section_reservation__form" id="reservation__form">
            <div class="row">
              <div class="col-md-6">

                <div class="form-group">
                  <label class="sr-only" for="reservation__form__name">Prénom et Nom</label>
                  <input type="text" class="form-control" id="reservation__form__name" name="reservation__form__name" placeholder="Prénom et Nom">
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="reservation__form__phone">Numéro de téléphone</label>
                  <input type="tel" class="form-control" id="reservation__form__phone" name="reservation__form__phone" placeholder="Numéro de téléphone">
                  <div class="invalid-feedback"></div>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="reservation__form__email">Address e-mail</label>
                  <input type="email" class="form-control" id="reservation__form__email" name="reservation__form__email" placeholder="Address e-mail">
                  <div class="invalid-feedback"></div>
                </div>

              </div>
              <div class="col-md-6">
                <textarea class="textarea form-control" cols="40" id="id_comments" name="comments" rows="6"placeholder="Votre message..."></textarea>
              </div>
              <div class="col">

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">
                    Envoyer
                  </button>
                </div>

              </div>
            </div> <!-- / .row -->
          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>


  <!-- TESTIMONIALS
  ================================================== -->
  <section class="section section_testimonials section_border_bottom">
    <div class="container">
      <div class="row">
        <div class="col">

          <!-- Heading -->
          <h2 class="section__heading text-center">
            Témoignages de nos clients
          </h2>

          <!-- Subheading -->
          <p class="section__subheading text-center">
            La relation avec chacun de nos clients est importante. Nous mettons tout en œuvre pour apporter entière satisfaction à chaque étape du développement de la solution. Notre but est d’établir une relation pérenne et durable.
          </p>

        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col">
          <div class="section_testimonials__carousel">
            <div class="section_testimonials__carousel__item text-center text-md-left">
              <div class="row align-items-center">
                <div class="col-md-3 order-md-3">

                  <!-- Photo -->
                  <div class="section_testimonials__photo">
                    <img src="assets/img/20.png" class="img-fluid" alt="...">
                  </div>

                </div>
                <div class="col-md-7 order-md-2">

                  <!-- Blockquote -->
                  <blockquote class="section_testimonials__blockquote mx-auto">
                    <h3> Fabuleux </h3>
                    <p>
                      Superbe expérience en famille.
                      Nous étions douze et avons tous adoré, de 10 ans à ....la cinquantaine :-)
                      Grande gentillesse des propriétaires. Le scénario est très bien ficelé et très immersif : le lieu (pénombre, fraîcheur, décor...), les costumes...
                      Petit plus : des aides par message vocal pour éviter de bloquer, pendant le jeu, bienvenues dans notre grand groupe de débutants.
                      A recommander, c'était TRES bien.
                    </p>
                    <footer class="text-muted">
                      Jean-Pierre
                    </footer>
                  </blockquote>

                </div>
                <div class="col-md-1 order-md-1"></div>
              </div> <!-- / .row -->
            </div>
            <div class="section_testimonials__carousel__item text-center text-md-left">
              <div class="row align-items-center">
                <div class="col-md-3 order-md-3">

                  <!-- Photo -->
                  <div class="section_testimonials__photo">
                    <img src="assets/img/21.png" class="img-fluid" alt="...">
                  </div>

                </div>
                <div class="col-md-7 order-md-2">

                  <!-- Blockquote -->
                  <blockquote class="section_testimonials__blockquote mx-auto">
                    <h3> Excellentissime </h3>
                    <p>
                      Pour animer les sombres dimanches après midis de novembre, emmenez vos enfants faire ce formidable escape game! Nous avions 4 enfants (de 9 à 13 ans) + un adulte de 18 ans + nous les parents/tonton/tata. Ils se sont éclatés! Les plus petits étaient positivement effrayés (je veux dire en rigolant en même temps!) et le jeu les a passionnés. En rentrant dans la voiture le plus petit a dit « on en a de la chance d’avoir un tonton et une tata aussi gentils! ». Et les parents nous ont rapporté qu’ils avaient adoré ! 
                    </p>
                    <footer class="text-muted">
                      Elisabeth Doe
                    </footer>
                  </blockquote>

                </div>
                <div class="col-md-1 order-md-1"></div>
              </div> <!-- / .row -->
            </div>
            <div class="section_testimonials__carousel__item text-center text-md-left">
              <div class="row align-items-center">
                <div class="col-md-3 order-md-3">

                  <!-- Photo -->
                  <div class="section_testimonials__photo">
                    <img src="assets/img/22.png" class="img-fluid" alt="...">
                  </div>

                </div>
                <div class="col-md-7 order-md-2">

                  <!-- Blockquote -->
                  <blockquote class="section_testimonials__blockquote mx-auto">
                    <h3> Une grande première </h3>
                    <p>
                      Premier escape game pour la plupart d'entre nous. 2 enfants 7 et 10 ans, 2 adultes et 2 séniors. Des l entree avec le portail blanc qui grince nous entrons dans l atmosphere. Puis la mise.en tenue de.bagnards et les explications de la maitresse de maison. Le déroulé, les caches les énigmes sont très bien travaillés. Et l'heure est passée très voir trop vite. Bravo pour le scénario et la qualité de la demeure qui contribue à rendre cet escape excellent. Merci pour l accueil.
                    </p>
                    <footer class="text-muted">
                      Monica Roe
                    </footer>
                  </blockquote>

                </div>
                <div class="col-md-1 order-md-1"></div>
              </div> <!-- / .row -->
            </div>
          </div> <!-- / .carousel -->
        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </section>



  <!-- FOOTER
  ================================================== -->
  <footer class="section section_footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">

          <!-- About Us -->
          <h5 class="section_footer__heading">
            A propos de nous
          </h5>
          <p>
            Notre objectif est d’ouvrir le patrimoine Français au plus grand nombre ainsi que de permettre le maintien en état de ces endroits qui font la richesse de notre patrimoine.
          </p>

        </div>
        <div class="col-sm-4">

          <!-- Contact info -->
          <h5 class="section_footer__heading">
            Contact
          </h5>
          <ul class="section_footer__info">
            <li>
              <i class="fas fa-map-marker-alt"></i> 1234 Altschul, Paris, 10027-0000
            </li>
            <li>
              <i class="fas fa-phone"></i> +1 987 654 3210
            </li>
            <li>
              <i class="far fa-envelope"></i> <a href="mailto:admin@domain.com">admin-renaissance@renaissance.com</a>
            </li>
          </ul>

        </div>
        <div class="col-sm-4">

          <!-- Opening hours -->
          <h5 class="section_footer__heading">
            Heures d'ouverture
          </h5>
          <div class="section_footer__open">
            <div class="section_footer__open__days">Lundi – Vendredi</div>
            <div class="section_footer__open__time">10:00 AM - 11:00 PM</div>
          </div>
          <div class="section_footer__open">
            <div class="section_footer__open__days">Samedi</div>
            <div class="section_footer__open__time">12:00 AM - 03:00 AM</div>
          </div>

        </div>
      </div> <!-- / .row -->
      <div class="row">
        <div class="col-12">

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->
  </footer>

  <!-- JAVASCRIPT
  ================================================== -->

  <!-- JS Global -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--   <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script> -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnKt8_N4-FKOnhI_pSaDL7g_g-XI1-R9E"></script>

  <!-- JS Plugins -->
  <script src="assets/plugins/parallax/parallax.min.js"></script>
  <script src="assets/plugins/isotope/lib/imagesloaded.pkgd.min.js"></script>
  <script src="assets/plugins/isotope/isotope.pkgd.min.js"></script>
  <script src="assets/plugins/flickity/flickity.pkgd.min.js"></script>
  <script src="assets/plugins/lightbox/js/lightbox.min.js"></script>
  <script src="assets/plugins/reservation/reservation.js"></script>
  <script src="assets/plugins/alerts/alerts.js"></script>

  <!-- JS Custom -->
  <!-- build:js assets/js/theme.min.js -->
  <script src="assets/js/theme.js"></script>
  <!-- endbuild -->
  <script src="assets/js/custom.js"></script>

  </body>
</html>
